* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.board {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 50%;
}

#maskedWord {
    font-size: 3rem;
}

#send {
    background-color: hsl(120, 100%, 25%);
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 1em;
}

.align {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    outline: none;
    border: none;
    background-color: rgb(196, 196, 196);
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
    width: 2rem;
}